@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  --color-primary: #8963ba;
  --color-primary-content: #ffffff;
}

@plugin "daisyui" {
  themes:
    /* cupcake --default, */ retro;
}

@theme {
  --font-headings: "Excon", sans-serif;
  --font-body: "Ranade", sans-serif;

  --text-p: 1rem;
  --text-p--line-height: 1.6;
  --tracking-p: 0.03em;
  --font-weight-p: 400;

  --text-small: 0.81rem;
  --text-small--line-height: 1.65;
  --tracking-small: 0.03em;
  --font-weight-p: 400;

  --text-h1: clamp(4rem, 10vw, 5.61rem);
  --text-h1--line-height: 1.5;
  --tracking--h1: 0.01em;
  --font-weight-h1: 800;

  --text-h2: clamp(0.78rem, 5vw, 1.78rem);
  --text-h2--line-height: 1.55;
  --tracking--h2: 0.02em;
  --font-weight-h2: 500;

  --text-h3--line-height: 1.6;
  --tracking--h3: 0.025em;
  --font-weight-h3: 500;

  --spacing-x-xs: 1.25rem;
  --spacing-x-sm: 2.25rem;
}

@layer base {
  body {
    font-family: var(--font-body);
  }

  body,
  p {
    font-size: var(--text-p);
    line-height: var(--text-p--line-height);
    letter-spacing: var(--tracking-p);
    font-weight: var(--font-weight-p);
  }

  small {
    font-size: var(--text-small);
    line-height: var(--text-small--line-height);
    letter-spacing: var(--tracking-small);
    font-weight: var(--font-weight-p);
  }

  h1 {
    font-family: var(--font-headings);
    font-size: var(--text-h1);
    line-height: var(--text-h1--line-height);
    letter-spacing: var(--tracking--h1);
    font-weight: var(--font-weight-h1);
  }

  h2 {
    font-family: var(--font-headings);
    font-size: var(--text-h2);
    line-height: var(--text-h2--line-height);
    letter-spacing: var(--tracking--h2);
    font-weight: var(--font-weight-h2);
  }

  h3 {
    font-family: var(--font-headings);
    line-height: var(--text-h3--line-height);
    letter-spacing: var(--tracking--h3);
    font-weight: var(--font-weight-h3);
  }
}

@layer utilities {
  .logo {
    font-family: "Gambarino", serif;
  }
}
