@import "tailwindcss";

@plugin "daisyui" {
  themes:
    cupcake --default,
    coffee;
}

.carousel {
  /* overflow-x: hidden !important; */
  scroll-snap-type: none !important;
}

.carousel-item {
  scroll-snap-align: unset !important;
}

.top > .carousel-item:hover {
  cursor: pointer;
}
